<h1>List of all movies</h1>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th></th>
  </tr>

  <% Movie.order({:year => :desc, :title => :asc}).each do |a_movie| %>
  <tr>
    <td><%= a_movie.id %></td>
    <td><img src="<%= a_movie.image %>" width="250"></td>
    <td><%= a_movie.title %></td>
    <td><%= a_movie.year %></td>
    <td><%= a_movie.director_id %></td>
    <td><a href="/movies/<%= a_movie.id %>">Show Details</a></td>
  </tr>
  <% end %>

</table>
